{
    "presets": ["env", "react"],
    "env": {
    	"development": {
    		"plugins": ["transform-runtime"]
    	},
    	"production": {
    		"plugins": ["transform-react-constant-elements"]
    	}
    }
}
